<%- include('partials/header') %>
<div class="container">
  <h2 class="text-center text-purple">Artists</h2>
  <div class="row">
    <% artists.forEach(artist => { %>
    <div class="col-md-4">
      <div class="card bg-dark text-light my-2">
        <img src="/images/artist-placeholder.jpg" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title"><%= artist.name %></h5>
          <p>Genre: <%= artist.genre %></p>
          <a href="/artists/<%= artist.id %>" class="btn btn-outline-primary"
            >View Profile</a
          >
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
<%- include('partials/footer') %>
